body {
    font-family: sans-serif;
    background-color: #222;
    color: #eee;
}

h1 {
    text-align: center;
}

#status {
    text-align: center;
    margin-bottom: 20px;
}

#villages {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.village {
    border: 1px solid #444;
    padding: 10px;
    margin: 10px;
    width: 300px;
}
